<!DOCTYPE html>
<html>
<head>
    <title>Шаблон для вывода проектов</title>
</head>
<body>
    <h2>Здесь будут все проекты</h2>
    {% for project in projects %}
    <p>Номер проекта: #{{ project.id }}</p>
    <h3>Название проекта: <a href="{% url 'project' project.id %}">{{ project.title }}</a></h3>
    <em>{{ project.description }}</em>
    <strong><a href="{% url 'create-project' %}">Добавить проект</a></strong>
    <h4><a href="{% url 'update-project' project.id %}">Редактировать проект</a></h4>
    {% endfor %}
    
    
</body>
</html>